<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newwidget"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

<application android:icon="@drawable/ic_launcher" android:label="New Widget">
    <receiver android:name=".NewWidgetActivity" android:label="newWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_widget_provider" />
        </receiver>
</application>

</manifest>